#heading {
    position: relative;
    margin-top: 20px;
}

#heading .left {
    width: 30px;
    display: inline-block
}

#heading .left .go-back i.fa {
    margin-right: 15px;
    font-size: 33px;
    color: black;
}

#heading .left .go-back i.fa:hover {
    color: #a8a8a8;
}

#heading .right {
    display: inline-block;
    overflow: auto
}

#heading .right h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

#heading .right .posted-date {
    color: #c7c7c7;
    font-size: small;
    bottom: 1px;
    position: absolute;
    right: 4px;
}

#property {
    margin-top: 10px;
    padding: 2em 1em;
    line-height: 1.5em;
    border-radius: 2px;
    border: 1px solid #d7d7d7;
}

#property .images {
    max-width: 330px;
    margin: 0 auto;
    text-align: center;
}

#property .images .img-main-carousel {
    max-height: 300px;
}

#property .details .owner-info {
    margin: 15px 0;
}

#property .details .location .address {
    font-size: 15px;
    margin-bottom: 7px;
}

#property .details .location .address i.fa {
    font-size: 18px;
}

#property .details .location agm-map {
    height: 95px;
}

#property .tabs {
    margin: 25px 0;
}

h4 {
    margin-bottom: 10px;
}

/* Question block */
#question-block > .form input {
    height: 33px;
}

#question-block #suggestions a {
    font-size: 12px;
    border-bottom: 1px dotted #748b81;
    margin-right: 10px;
    cursor: pointer;
}

#question-block #suggestions a:hover {
    text-decoration: none;
    border-bottom: 1px solid #748b81;
}
