<div *ngIf="property; else loading">
  <div id="heading">
    <div class="left">
      <a href="#" (click)="goBack()" class="go-back pull-left"
         popover="Go Back" placement="top" triggers="mouseenter:mouseleave">
        <i class="fa fa-angle-double-left fa-2x"></i>
      </a>
    </div>
    <div class="right">
      <h2 class="title pull-left">{{ property.name }}</h2>
      <div class="posted-date pull-right"><b>Posted on</b> {{ property.createdAt | date:'dd/MM/yyyy' }}</div>
    </div>
  </div>
  <div id="property">
    <div class="row">
      <div class="col-md-6">
        <div *ngIf="property.additionalImages" class="images">
          <carousel>
            <slide>
              <img class="img-main-carousel" [src]="property.primaryImage | propertyImageUrl">
            </slide>
            <slide *ngFor="let additionalImage of property.additionalImages">
              <img class="img-main-carousel" [src]="additionalImage.url">
              <div class="carousel-caption"><h3>{{ additionalImage.name }}</h3></div>
            </slide>
          </carousel>
        </div>
      </div>
      <div class="details col-md-6">
        <h4 *ngIf="property.dailyPrice">Daily price: {{ property | propertyPrice:'daily' }}</h4>
        <h4 *ngIf="property.weeklyPrice">Weekly price: {{ property | propertyPrice:'weekly' }}</h4>
        <h4 *ngIf="!property.dailyPrice && !property.weeklyPrice">Price: {{ property | propertyPrice }}</h4>

        <hr>
        <div class="location">
          <div class="address">
            <i class="fa fa-map-marker"></i> <b>{{ property.address }}</b>
          </div>
          <agm-map [latitude]="property.locationLatitude" [longitude]="property.locationLongitude" [zoom]="13">
            <agm-marker [latitude]="property.locationLatitude" [longitude]="property.locationLongitude"></agm-marker>
          </agm-map>
        </div>

        <hr>
        <div class="owner-info">
          <b>Owner information:</b><br>
          {{ property.owner | fullname }}<br>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <span class="review-no">5 reviews</span>
          </div>
        </div>

        <p class="vote"><strong>91%</strong> of renters enjoyed this product! <strong>(87 votes)</strong></p>
        <div class="action">
          <button class="btn btn-primary">Contact</button>
          <button class="btn btn-warning" title="Add to favorite"><span class="fa fa-heart"></span></button>
        </div>
      </div>
    </div>

    <div class="row tabs">
      <div class="col-sm-12">
        <tabset #staticTabs>
          <tab heading="Description">{{ property.description }}</tab>
          <tab heading="Additional Info">Additional Information</tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
