Property page...

<div *ngIf="property; else loading">
  <h1>{{ property.name }}</h1>
  <b>Description:</b> {{ property.description }}<br>
  <b>Address:</b> {{ property.address }}<br>
  <b>Posted:</b> {{ property.created_at | date: 'yyyy.MM.dd'}}<br>
  Image:<br>
  <img src="{{ property.image }}" alt=""><br>
  <br><br>
  Additional images: <br>
  <div *ngFor="let image of property.images;">
    <b>{{ image.name }}</b><br>
    <img src="{{ image.image }}" alt=""><br><br>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
