#heading {
    position: relative;
    margin-top: 20px;
}

#heading .left {
    width: 30px;
    display: inline-block
}

#heading .left .go-back i.fa {
    margin-right: 15px;
    font-size: 33px;
    color: black;
}

#heading .left .go-back i.fa:hover {
    color: #a8a8a8;
}

#heading .right {
    display: inline-block;
    overflow: auto
}

#heading .right h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

#heading .right .posted-date {
    color: #c7c7c7;
    font-size: small;
    bottom: 1px;
    position: absolute;
    right: 4px;
}

#property {
    margin-top: 10px;
    padding: 2em 1em;
    line-height: 1.5em;
    border-radius: 2px;
    border: 1px solid #d7d7d7;
}

#property .images {
    max-width: 330px;
    margin: 0 auto;
    text-align: center;
}

#property .images .img-main-carousel {
    max-height: 300px;
}

#property .details .owner-info {
    margin: 15px 0;
}

#property .details .location .address {
    font-size: 15px;
    margin-bottom: 7px;
}

#property .details .location .address i.fa {
    font-size: 18px;
}

#property .details .location agm-map {
    height: 95px;
}

#property .tabs {
    margin: 25px 0;
}

h4 {
    margin-bottom: 10px;
}

/* Question block */
#question-block > .form input {
    height: 33px;
}

#question-block #suggestions {
    margin-top: 5px;
}
#question-block #suggestions a {
    font-size: 12px;
    border-bottom: 1px dotted #748b81;
    margin-right: 10px;
    cursor: pointer;
}

#question-block #suggestions a:hover {
    text-decoration: none;
    border-bottom: 1px solid #748b81;
}

a.go-to-chat {
    cursor: pointer;
}


/* Comments*/
.commmentaPanel {
    padding-right: 15px;
}    
.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}


/* Comment box*/
body{ 
    background: #fafafa;
}

.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: none;
}

body .no-padding {
    padding: 0;
}

.widget-area {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    padding: 25px 15px;
    position: relative;
    width: 100%;
}
.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    float: left;
    width: 100%;
}
.status-upload form {
    float: left;
    width: 100%;
}
.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize:vertical;
    outline:none;
    border: 1px solid #F2F2F2;
}

.status-upload form button {
    border: medium none;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
}

.status-upload form button > i {
    margin-right: 7px;
}

.commentNotification {
    text-align: center;
    font-size: 18px;
}