<div class="col-sm-12">
  <div class="well well-lg">
    <div>
      <h2><i class="fa fa-info-circle" aria-hidden="true"></i> About us</h2>
        <p>
          <img class="img-thumbnail" src="static/images/about_us.jpg"><br><p><i class="fa fa-code" aria-hidden="true"></i></p><br><br> LetRent is a website designed by three Aalto University Computer science students. The website is developed as a requirement
          for the fulfillment of the course www Design.</p>
          <p>On the website, Aalto University and other people who live in Helsinki
          area can post their stuffs to rent it out or sell to other communities. Hence, using the service will enable students
          to earn money by renting out their unused stuffs to other students or to save money by renting stuffs with other students
          or local communities.<br><br><br><p>Please do not hesitate to contact us by this email address: letrent2017@outlook.com.</p><br><br>
      </p>
    </div>
  </div>
</div>
