<div class="list-group" id="lll">
  <a *ngFor="let category of categories" (click)="onCategoryClick($event, category.id)" id="category_{{ category.id }}"
     class="list-group-item" [ngClass]="{'active': activeCategories[category.id]}">
    <div class="icon">
      <ng-container *ngIf="category.faIconName">
        <i class="fa {{ category.faIconName }}" aria-hidden="true"></i>
      </ng-container>
    </div>
    {{ category.name }}

    <ng-container *ngIf="category.children">
      <ul class="treeview-menu">
        <li *ngFor="let subcategory of category.children">
          <a routerLinkActive="active" routerLink="/category/{{ subcategory.fullSlug }}">
            {{ subcategory.name }}
            <i *ngIf="subcategory.children" class="fa fa-angle-left pull-right"></i>
          </a>
          <div *ngIf="subcategory.children" class="treeview-menu">
            <app-category-tree-view [propertyCategories]="subcategory.children"></app-category-tree-view>
          </div>
        </li>
      </ul>
    </ng-container>
  </a>
</div>
