<h2>My Properties</h2>
<div class="row">
  <div *ngIf="properties; else loading" id="properties">
    <ng-container *ngFor="let property of properties">
      <div class="property col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="image">
            <a routerLink="/properties/{{ property.slug }}">
              <img class="group list-group-image" src="{{ property.primaryImage | propertyImageUrl }}">
            </a>
          </div>
          <div class="details">
            <h4 class="title">
              <a routerLink="/properties/{{ property.slug }}">{{ property.name }}</a>
            </h4>
            <div class="price">{{ property | propertyPrice }}</div>
            <div class="buttons text-right">
              <span class="pull-left">
                <a routerLink="/properties/{{ property.slug }}" class="btn btn-default">
                 <i class="fa fa-eye"></i> View
              </a>
              </span>
              <span class="pull-left">
                <a routerLink="/property-edit/{{ property.slug }}" class="btn btn-default">
                  <i class="fa fa-pencil fa-fw"></i> Edit
                </a>
              </span>
              <span>
                <a mwlConfirmationPopover [title]="alertTitle" [message]="alertMessage" placement="bottom"
                   (confirm)="deleteProperty(property.id, property.name)"
                   (cancel)="alertCancelClicked = true" class="btn btn-danger" [popoverClass]="'remove-popover'">
                  <i class="fa fa-remove"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>
<div *ngIf="noRecordsFound" class="text-center">
  <p class="h3">You have now added any properties yet!</p>
</div>
