/* Search box styles*/

input[type=text] {
    width: 100%;
    color: black;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color:white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 4px 10px 4px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* enable absolute positioning */
.inner-addon { position: relative;}
  
.inner-addon .fa-search {
    position: absolute;
    padding: 10px;
    color:#5C5C5C;    
    pointer-events: none;
}

.left-addon .fa-search  { left:  0px;}
