<a class="backIcon"routerLink='/profile-properties/' popover="Go Back"><i class="fa fa-angle-double-left fa-2x"></i></a> &nbsp;
<h2>Edit Property</h2>
<div class="container" *ngIf="property; else loading">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <form [formGroup]="form" (ngSubmit)="editProperty()" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Property Name</label>
                <input type="text" class="form-control" id="name" placeholder="Property name" formControlName="name" value="{{ property.name }}"/>
                <div class="alert alert-danger" *ngIf="form.get('name').hasError('required') && form.get('name').touched">
                  Name is required.
                </div>
              </div>
              <div class="form-group">
                <label for="dailyPrice">Daily Price</label>
                <input type="number" class="form-control" id="dailyPrice" placeholder="e.g. 2,50" formControlName="dailyPrice" [(ngModel)]="dailyPrice" value="{{ property.dailyPrice }}"/>
              </div>
              <div class="form-group">
                <label for="weeklyPrice">Weekly Price</label>
                <input type="number" class="form-control" id="weeklyPrice" placeholder="e.g. 10,50" formControlName="weeklyPrice" [(ngModel)]="weeklyPrice" value="{{ property.weeklyPrice }}"/>
                <div class="alert alert-danger" *ngIf="form.get('weeklyPrice').hasError('invalid') && form.get('weeklyPrice').touched">
                  There should be defined either daily price or weekly price.
                </div>
              </div>
              <div class="form-group">
                <div class="form-group">
                  <label>Location</label>
                  <input type="text" placeholder="search for an address" autocorrect="off" autocapitalize="off"
                         class="form-control" spellcheck="off"
                         formControlName="address" [(ngModel)]="address" #searchLoc>
                  <div class="alert alert-danger" *ngIf="form.get('address').hasError('required') && form.get('address').touched">
                    Location is required.
                  </div>
                </div>
                <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>
              </div>
            </div>
            <div class="col-md-6" *ngIf="propertyCategories; else loading">
              <div class="form-group">
                <label for="subject">Category</label>
                <select id="subject" name="subject" class="form-control" formControlName="category" [(ngModel)]="categoryId">
                  <option *ngFor="let category of propertyCategories" [value]="category.id">
                    {{ category.name }}
                  </option>
                </select>
                <div class="alert alert-danger" *ngIf="form.get('category').hasError('required') && form.get('category').touched">
                  Category is required.
                </div>
              </div>
              <div class="form-group">
                <div class="text-center">
                  <img *ngIf="!property || !property.primaryImage" src="//placehold.it/100" class="img-circle">
                  <img *ngIf="property && property.primaryImage" src="{{ property.primaryImage.url }}" style="max-width: 300px;">
                  <h6>Upload a primary photo...</h6>
                  <input type="file" class="form-control" formControlName="primaryImage"
                         (change)="onPrimaryImageChange(event)" #primaryImageInput>
                </div>
              </div>
              <div class="form-group">
                <div class="text-center">
                  <!--<img src="//placehold.it/100" class="avatar img-circle" alt="avatar">-->
                  <h6>Upload additional photos...</h6>
                  <input type="file" class="form-control" formControlName="additionalImages"
                         (change)="onAdditionalImagesChange(event)" #additionalImagesInput multiple>
                </div>
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control" rows="8" cols="20" placeholder="More details about the property..."
                  formControlName="description" value="{{ property.description }}"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <hr>
              <div class="row">
                <div class="col-sm-2 col-sm-offset-5 text-center">
                  <button type="submit" class="btn btn-primary btn-lg btnCreate">Update Property</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>