<h2><i class="fa fa-shopping-basket" aria-hidden="true"></i> Add Property</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form [formGroup]="form" (ngSubmit)="addProperty(form.value)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title">Property Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Property name" formControlName="name"/>
                            <div class="alert alert-danger" *ngIf="form.get('name').hasError('required') && form.get('name').touched">
                                Name is required.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dailyPrice">Daily Price</label>
                            <input type="number" class="form-control" id="dailyPrice" placeholder="e.g. 2,50" formControlName="dailyPrice"/>
                        </div>
                        <div class="form-group">
                            <label for="weeklyPrice">Weekly Price</label>
                            <input type="number" class="form-control" id="weeklyPrice" placeholder="e.g. 10,50" formControlName="weeklyPrice"/>
                            <div class="alert alert-danger" *ngIf="form.get('weeklyPrice').hasError('invalid') && form.get('weeklyPrice').touched">
                                There should be defined either daily price or weekly price.
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="location">Location</label>                                    
                                <input placeholder="search for an address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" 
                                    class="form-control" #search formControlName="address" [(ngModel)]="address">
                                <div class="alert alert-danger" *ngIf="form.get('address').hasError('required') && form.get('address').touched">
                                    Location is required.
                                </div>
                            </div>
                            <agm-map [latitude]="latitude"  [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                            </agm-map>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="subject">Category</label>
                            <select id="subject" name="subject" class="form-control" formControlName="category">
                                <option *ngFor="let category of propertyCategories" [value]="category.id">{{category.name}}</option>                                
                            </select>
                            <div class="alert alert-danger" *ngIf="form.get('category').hasError('required') && form.get('category').touched">
                                Category is required.
                            </div>
                        </div>
                        <div class="form-group">
                                <div class="text-center">
                                    <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                                    <h6>Upload a different photo...</h6>
                                    <input type="file" class="form-control">
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="description">Description</label>
                                <textarea name="description" id="description" class="form-control" rows="8" cols="20" 
                                    placeholder="More details about the property..." formControlName="description"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-5 text-center">
                                <button type="submit" class="btn btn-primary btn-lg btnCreate" [disabled]="!form.valid">Create Property</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
