<div class="main-container">
    <nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"><a class="navbar-brand" routerLink='/' routerLinkActive="active">LetRent</a></div>
        <!-- Right nav-bar -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <app-search [passedQuery]='query'></app-search>
        <ul class="nav navbar-nav navbar-right">
            <div *ngIf="auth.loggedIn();then linksForLoggedInUser else linksForGuest"></div>
            <ng-template #linksForLoggedInUser>
            <ul class="nav navbar-nav navbar-right">
                <li><span class="badge badge-important">2</span><a href="#"><i class="fa fa-bell-o fa-lg" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a></li>
                <li class="dropdown">
                    <div ngbDropdown class="d-inline-block">
                        <div class="dropdown-in">
                            <a class="dropdownlink" id="dropdownBasic1" ngbDropdownToggle>
                                    <span class="user-avatar pull-left">
                                        <img src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" class="img-responsive img-circle">
                                    </span>
                                    <span class="user-name"> {{auth.getUserInformation()}} </span>
                                    <b class="caret"></b></a>
                            <div class="dropdown-content" ngbDropdownMenu>  
                                <a class="dropdown-item" routerLink='/profile/' routerLinkActive="active">Profile</a>
                                <a (click)="auth.logout()" class="dropdown-item">Logout</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a routerLink='/property/' routerLinkActive="active"><i class="fa fa-camera" aria-hidden="true"></i> Rent Out</a></li>                                    
            </ul>
            </ng-template>
            <ng-template #linksForGuest>
                <li><a (click)="showAndHideLogin()"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Login</a></li>
                <li><a (click)="showAndHideRegistration()"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Registration</a></li>
                <li><a routerLink='/property/' routerLinkActive="active"><i class="fa fa-camera" aria-hidden="true"></i> Rent Out</a></li>                
            </ng-template>
        </ul>   
        </div>
    </div>
    </nav>
    <div class='container main-container'>
        <router-outlet></router-outlet>
    </div>
    <app-login *ngIf="showLogin" (onLoginClosed)="changeLoginStatus($event)"></app-login>
    <app-registration *ngIf="showRegistration" (onRegistrationClosed)="changeRegistrationStatus($event)"></app-registration>
    <footer>
    <div class="footer-container">
        <hr/>
        <p>Terms and Conditions&emsp; | &emsp;Privacy Policy &emsp; | &emsp;Contact Us</p>
        <span>&copy; LetRent 2017</span>
    </div>
    </footer>
</div>