/* NavBar*/
.badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute;
}

.pull-left {
    margin-right:8px; 
    margin-top:-5px;
}

.img-circle {
    width:30px; 
    height:30px
}

/* Nav bar dropdown*/

.d-inline-block {
    margin: 13px;
}

.user-name {
    color: white;
}

.caret {
    color: white;
}

.dropdown-in{
    left: 0;
}

.dropdownlink {
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}



/* Footer*/
.footer-container {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
  }

  a {
      cursor: pointer;
  }

