a {
    cursor: pointer;
    color: white;
}

.buttonLink {
    color: black;   
}

/* NavBar*/
.nav>li>a:focus,
.nav>li>a:hover {
    background-color: #fff;
}

.badge-new-messages {
    margin-top: 7px;
    margin-left: 14px;
    position: absolute;
    background: #ed5565;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 2px 5px;
    font-size: 11px;
    z-index: 1;
}

.pull-left {
    margin-right:8px;
    margin-top:-5px;
}

.img-circle {
    width:30px;
    height:30px
}

/* Nav bar dropdown*/

.d-inline-block {
    margin: 13px;
}

.user-name {
    color: white;
}
a#user-dropdown:hover {
    text-decoration: none;
}

.caret {
    color: white;
}

.dropdown-in{
    left: 0;
}
.dropdown-menu {
    margin-top: 10px;
    margin-left: -80px;
}

.cusnav {
    background:#337AB7;
    border: 1px solid #E0E0E0;
    border-radius: 0px;
    color: white;
}

/*.navbar-header a:hover{
    font-size: xx-large;
    color: white;
}*/

/*.navbar-header a:visited{
    color: rgb(248, 248, 248);
}*/

.navbar-header a.logo {
    padding: 0;
}
.navbar-header a.logo img {
    width: 104px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 30px;
}

ul.nav li.login,
ul.nav li.registration {
    padding-left: 0;
    padding-right: 0;
}
ul.nav li.login a {
    padding-left: 6px;
    padding-right: 6px;
}
ul.nav li.add-record {
    margin-right: 25px;
}
ul.nav li.messages {
    margin-right: 5px;
}
ul.nav li.comments a,
ul.nav li.messages a {
    padding-left: 8px;
    padding-right: 8px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


/* Footer*/
.footer-container {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
  }
