/* NavBar*/
.badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute;
}

/* Footer*/
.footer-container {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
  }

  