<h1>{{ title }}</h1>

Search filters....<br>
<br>
<div class="row">
  <div *ngIf="properties; else loading">
    <div *ngFor="let property of properties;">
      <div class="col-sm-2">
        <h3><a routerLink='/properties/{{ property.slug }}' routerLinkActive="active">{{ property.name }}</a></h3>
        <img src="{{ property.primaryImage | propertyImageUrl }}" width="150" height="150">
        {{ property.name }}<br>
        {{ property.description }}<br>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>
