.list-group-item-text {
    margin: 0 0 11px;
}

#filters {
    margin: 20px 0;
}

#filters .price {
    line-height: 5;
    margin-right: 5px;
}

#filters .price > i.fa {
    font-size: 28px;
    opacity: 0.8;
}

#filters .price > i.fa:hover {
    opacity: 1;
}

.form-inline .form-group {
    padding-left: 10px;
    padding-right: 10px;
}

.properties {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.properties .property {
    flex-shrink: 1;
    display: flex;
}

.properties .property .thumbnail {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.properties .property .details {
    overflow: auto;
}

.properties .property .details .price {
    float: left;
    font-size: 20px;
}

.properties .property .details .view {
    float: right;
}
